.idea
.DS_Store
*egg-info
__pycache__/
.ipynb_checkpoints/
data/uspto/USPTO_50K_processed.csv
data/uspto/USPTO_50K_processed_10clustersKmeans.csv
data/uspto/USPTO_50K_processed_10clustersKmeans_clusterer.pkl
data/uspto/USPTO_50K_processed_10clustersRandom.csv
data/uspto/USPTO_50K_processed_fingerprints.pkl

